<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-title">
        <h1>{{ "Products" | translate }}</h1>
        <button class="btn btn-add" (click)="openModallAdd()">
          {{ "AddNew" | translate }}
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card-table" *ngIf="products; let categories; else: loading">
        <table class="table table-bordered table-sm table-striped table-responsive-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ "Image" | translate }}</th>
              <th>{{ "Name" | translate }}</th>
              <th>{{ "Price" | translate }}</th>
              <th>{{ "Category" | translate }}</th>
              <th>{{ "Description" | translate }}</th>
              <th>{{ "Actions" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of products | async; let i = index"> -->
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td> <img [src]="item.image" alt=""> </td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.category.name }}</td>
              <td>{{ item.desc }}</td>
              <td>
                <button class="btn btn-action" (click)="openModalEdit(item)">
                  <i class="far fa-edit"></i>
                </button>
                <button class="btn btn-action" (click)="openModalDelete(item)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="">
        <ng-template #loading>
          <div class="">
            <app-loading></app-loading>
          </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>
