<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card-title mt-3">
        <h1>{{ "Products" | translate }}</h1>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row" *ngIf="products; let products; else: loading">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let item of products; let i = index">
          <a routerLink="/product/{{item._id}}">
            <div class="card-product">
              <div class="card-img"> <img [src]="item.image" alt=""> </div>
              <p>{{ item.price }} </p>
              <!-- {{'USD' | translate}} -->
              <h3>{{ item.name }}</h3>
            </div>
          </a>
        </div>
        <div *ngIf="products.length == 0">
          <app-not-found></app-not-found>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ng-template #loading>
            <div class="">
              <app-loading></app-loading>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
