<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" routerLink="/">{{'NG APP' | translate}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">{{'Home' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">{{'Products' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">{{'AboutUs' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">{{'ContactUs' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="changeLang()"> {{'Lang' | translate}} </a>
          </li>

          <li class="nav-item">
            <a class="nav-link db" routerLink="/dashboard">{{'Dashboard' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
