<div class="modal-header">
  <h4 class="modal-title">{{ item ? ("Edit" | translate ) : ("AddNew" | translate )}}</h4>
  <button type="button" class="btn close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="CreatData()">
  <div class="modal-body">
    <div class="card-form">
      <div class="form-group">
        <label>{{ "Name" | translate }}</label>
        <input type="text" class="form-control" name="name" formControlName="name" required
          placeholder="{{ 'Name' | translate }}" />
      </div>
      <div class="form-group">
        <label>{{ "Description" | translate }}</label>
        <input type="text" class="form-control" name="desc" formControlName="desc" required
          placeholder="{{ 'Description' | translate }}" />
      </div>
      <div class="form-group">
        <label>{{ "Icon" | translate }}</label>
        <input type="text" class="form-control" name="image" formControlName="image" required
          placeholder="{{ 'Icon' | translate }}" />
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-save" type="submit" [disabled]="formGroup.invalid">
      {{ "Save" | translate }}
    </button>
    <button type="button" class="btn btn-clos" (click)="activeModal.close('Close click')">
      {{ "Close" | translate }}
    </button>

  </div>
</form>
