<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-title">

      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card-statistics">
        <i class="fa-solid fa-snowflake"></i>
        <div class="text">
          <h3>342</h3>
          <p> {{'Users' | translate}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card-statistics">
        <i class="fa-solid fa-snowflake"></i>
        <div class="text">
          <h3>234</h3>
          <p> {{'Categories' | translate}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card-statistics">
        <i class="fa-solid fa-snowflake"></i>
        <div class="text">
          <h3>621</h3>
          <p> {{'Products' | translate}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card-statistics">
        <i class="fa-solid fa-snowflake"></i>
        <div class="text">
          <h3>752</h3>
          <p> {{'Orders' | translate}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
